/* landing */
.hero {
  background: linear-gradient(to bottom right, #2ecc71, #1abc9c);
  color: white;
  text-align: center;
  padding: 120px 20px;
}

.hero h1 span {
  color: orange;
}

.feature-card {
  border-radius: 12px;
  background: #ffffff;
  border: 1px solid #e7ffee;
  transition: 0.3s;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
}

nav {
  padding: 15px 30px;
}

.footer-hero {
  background: linear-gradient(to bottom right, #2ecc71, #1abc9c);
  color: white;
  text-align: center;
  padding: 80px 20px;
}

/* tampilan atas */
.navbar-brand {
  font-weight: 700;
  font-size: 28px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

.navbar-brand .fit {
  color: white !important;
}

.navbar-brand .life {
  color: #12d9f3 !important;
  font-style: italic;

}

.navbar-brand:hover .fit {
  color: #2ecc71 !important;
}

.navbar-brand:hover .life {
  color: #e67e22 !important;

}

/* home */
.carousel-item img {
  height: 400px;
  object-fit: cover;
}

.artikel-section {
  max-width: 900px;
  margin: 0 auto;
}

.artikel-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.artikel-card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.artikel-img {
  width: 220px;
  height: 150px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .artikel-card {
    flex-direction: column;
    text-align: center;
  }

  .artikel-img {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
  }
}

/* kalkulator */
.kalkulator-card {
  width: 100%;
  max-width: 450px;
  border-radius: 15px;
  background-color: #ffffff;
}

body {
  background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
  font-family: 'Poppins', sans-serif;
}

label {
  font-weight: 500;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}


/* menu */

.banner-menu img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 16px;
}

.menu-card {
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.menu-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}